<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>表格案例</title>
</head>

<body>
    <h1>家庭首页</h1>

    <table border="1">
        <tr>
            <td>ID</td>
            <td>名字</td>
        </tr>
        <% for (let i=0; i<homeList.length; i++){ %>
            <tr>
                <td>
                    <%=homeList[i].id %>
                </td>
                <td>
                    <%=homeList[i].name %>
                </td>
            </tr>
            <% }%>
    </table>

</html>