<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>这是ejs模板</title>
</head>

<body>
    <!-- username 和 age 能使用是因为客户端传参数给服务器了 -->
    <h1>名字:<%=username%> 年龄:<%=age%>
    </h1>
</body>

</html>